/* We have taken the liberty of setting all items to have the CSS rule below.
 * This makes for easy positioning but feel free to change as you so desire.
 */
*{
	margin:0;
	padding:0;
	position: absolute;
	cursor: pointer;
}

/* The component will scale to 100% of available width and height.
 */
html, body, #ad {
	width:100%;
	height:100%;
	/*background-color: white;*/
/*	background: rgb(179,142,96);
	background: -moz-linear-gradient(left,  rgba(179,142,96,1) 0%, rgba(197,166,129,1) 30%, rgba(217,198,172,1) 50%, rgba(197,166,129,1) 70%, rgba(179,142,96,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(179,142,96,1) 0%,rgba(197,166,129,1) 30%,rgba(217,198,172,1) 50%,rgba(197,166,129,1) 70%,rgba(179,142,96,1) 100%);
	background: linear-gradient(to right,  rgba(179,142,96,1) 0%,rgba(197,166,129,1) 30%,rgba(217,198,172,1) 50%,rgba(197,166,129,1) 70%,rgba(179,142,96,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b38e60', endColorstr='#b38e60',GradientType=1 );*/
	background: url("images/bg_header.png") no-repeat top left;
}

#overlay{
	-ms-transform: skew(-20deg,0deg);
-webkit-transform: skew(-20deg,0deg);
transform: skew(-20deg,0deg);
width: 1221px;
height: 1599px;
overflow: hidden;
/*top: -24px;*/
top: 0;
right: 0px;
/*width: 500px;
height: 1080px;
overflow: hidden;
top: 177px;
left: 0;*/
background-color: transparent;
}


.bigTasty {
-webkit-filter: drop-shadow(10px 10px 22px rgba(129,93,49,1));
filter: drop-shadow(10px 10px 22px rgba(129,93,49,1));

-ms-transform: skew(20deg,0deg);
-webkit-transform: skew(20deg,0deg);
transform: skew(20deg,0deg);

	width: 518px;
	height: 104px;
	left:211px;
	top:26px;

}
